{escalus_users, [
    {allaccess, [
        {username, <<"1116693109-3">>},
        {server, <<"chat.dev0.spark.net">>},
        {password, <<"qqqq">>}]},
    {notsubscribed, [
        {username, <<"1116693112-3">>},
        {server, <<"chat.dev0.spark.net">>},
        {password, <<"qqqq">>}]},
    {subscribed, [
        {username, <<"27029711-3">>},
        {server, <<"chat.dev0.spark.net">>},
        {password, <<"abcd1234">>}]},
    
]}.
%% FIXME
{ejabberd_node, chat.dev0.spark.net}.
{ejabberd_cookie, EDPDIKUCQRHLHSNDGLBN}.
{spark_api_endpoint, "http://api.stgv3.spark.net/v2"}.
{spark_create_oauth_accesstoken,
              "/brandId/{brandId}/oauth2/accesstoken/application/{applicationId}"}.
